<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME)"/>

  <arg name="standalone" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg UAV_NAME)_uvdar_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="threshold" default="50"/>

  <arg name="left" default="$(optenv BLUEFOX_UV_LEFT)"/> <arg name="right" default="$(optenv BLUEFOX_UV_RIGHT)"/>
  <arg name="left_camera_name" default="mv_$(arg left)"/>
  <arg name="right_camera_name" default="mv_$(arg right)"/>

  <arg name="calibrations_folder" default="$(find uvdar_gazebo_plugin)/test/detector/masks"/>


  <!-- Node Settings -->
  <arg name="output" default="screen"/>
  <arg name="debug" default="false"/>

  <arg name="publish" default="true"/>

  <group ns="$(arg UAV_NAME)">


    <node pkg="nodelet" type="nodelet" name="$(arg UAV_NAME)_uvdar_nodelet_manager" args="manager" output="screen" >
      <param name="num_worker_threads" value="8" />
    </node>

    <node name="bluefox_emulator" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARBluefoxEmulator $(arg nodelet_manager)" output="screen" respawn="false" launch-prefix="bash -c 'sleep 5; $0 $@'">
      <rosparam param="camera_output_topics"> ["camera_left", "camera_right", "camera_back"] </rosparam>
      <rosparam param="calib_files"> ["default", "default", "default"] </rosparam>
      <remap from="~camera_left" to="/$(arg UAV_NAME)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right" to="/$(arg UAV_NAME)/uvdar_bluefox_right/image_raw"/>
      <remap from="~camera_back" to="/$(arg UAV_NAME)/uvdar_bluefox_back/image_raw"/>
      <remap from="~camera_left_transfer" to="/gazebo/$(arg UAV_NAME)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right_transfer" to="/gazebo/$(arg UAV_NAME)/uvdar_bluefox_right/image_raw"/>
      <remap from="~camera_back_transfer" to="/gazebo/$(arg UAV_NAME)/uvdar_bluefox_back/image_raw"/>
    </node>



    <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="false"> 
    <!-- <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="debug_roslaunch"> --> 
      <!-- <node name="uv_detect" pkg="uvdar" type="uv_detector_node" output="screen" launch-prefix="urxvt -e gdb -q -x /home/viktor/gdb.cmds -/-args"> -->
        <!-- <node name="uv_detect" pkg="nodelet" type="nodelet" args="$(arg nodelet) uvdar/UVDARDetector $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="valgrind -/-tool=callgrind -/-callgrind-out-file=/home/viktor/callgrind.out -/-instr-atstart=no -/-collect-atstart=yes"> --> 

      <param name="uav_name"		type="string" value="$(arg UAV_NAME)"/> 
      <param name="debug"		type="bool" value="$(arg debug)"/> 
      <param name="gui"             type="bool" value="false"/>
      <!-- <param name="publish_visualization"             type="bool" value="true"/> -->
      <param name="publish_visualization"             type="bool" value="false"/>
      <param name="publish"         type="bool" value="$(arg publish)"/>
      <param name="justReport" type="bool" value="true"/>
      <param name="threshold" type="int" value="$(arg threshold)"/>

      <rosparam param="camera_topics"> ["camera_left", "camera_right", "camera_back"] </rosparam>
      <rosparam param="points_seen_topics"> ["points_seen_left", "points_seen_right", "points_seen_back"] </rosparam>

      <!-- <param name="use_masks"         type="bool" value="false"/> -->
      <param name="use_masks"         type="bool" value="true"/>
      <rosparam param="mask_file_names" subst_value="True"> ["$(arg calibrations_folder)/blank_bluefox.png", "$(arg calibrations_folder)/blank_bluefox.png", "$(arg calibrations_folder)/blank_bluefox.png"] </rosparam>

      <param name="publish_sun_points"         type="bool" value="true"/>

      <remap from="~camera_left" to="/$(arg UAV_NAME)/uvdar_bluefox_left/image_raw"/>
      <remap from="~camera_right" to="/$(arg UAV_NAME)/uvdar_bluefox_right/image_raw"/>
      <remap from="~camera_back" to="/$(arg UAV_NAME)/uvdar_bluefox_back/image_raw"/>
      <remap from="~points_seen_left" to="/$(arg UAV_NAME)/uvdar/points_seen_left"/>
      <remap from="~points_seen_right" to="/$(arg UAV_NAME)/uvdar/points_seen_right"/>
      <remap from="~points_seen_back" to="/$(arg UAV_NAME)/uvdar/points_seen_back"/>
      <remap from="~points_seen_left/sun" to="/$(arg UAV_NAME)/uvdar/points_seen_left/sun"/>
      <remap from="~points_seen_right/sun" to="/$(arg UAV_NAME)/uvdar/points_seen_right/sun"/>
      <remap from="~points_seen_back/sun" to="/$(arg UAV_NAME)/uvdar/points_seen_back/sun"/>

      <remap from="~odometry" to="/$(arg UAV_NAME)/mrs_odometry/new_odom"/>
      <remap from="~imu" to="mavros/imu/data"/>
    </node>
  </group>


</launch>
